@import "tailwindcss";

:root {
  --primary: #c4622d;
  --secondary: #f5f0e8;
  --accent: #7c9e87;
  --dark: #3d2b1f;
  --light: #fdfaf6;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: "Inter", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.animate-fade-in {
  animation: fadeIn 0.25s ease-out;
}
